/*font colors and sizes*/
/* background colors */
/*mixins*/
h1, h2, h3, h4, h5 {
  margin-top: 0px; }

.page-header {
  margin-top: 30px; }

body {
  font-family: "Segoe UI", "Segoe WF", "Segoe Regular", sans-serif;
  font-size: 15px;
  line-height: 1.7em;
  color: black;
  background-color: #FDE4A4; }

a {
  color: black; }

ul, li {
  list-style: none; }

input, textarea, button {
  border-radius: 0px;
  -mox-border-radius: 0px;
  -webkit-border-radius: 0px; }

#logo {
  margin-top: 0px;
  top: 0px;
  left: 0px;
  width: 55%; }

/* carousel */
.carousel-control.left,
.carousel-control.right {
  background-image: none;
  margin-top: 120px !important; }

.carousel-inner > .item > img {
  margin: 0 auto;
  margin-top: 10 0px !important; }

/* page 1 slider */
.slider {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px; }
  .slider .h2 {
    color: #FDB82B !important; }
  .slider .col-md-12 {
    font-family: "gothic";
    background-color: white;
    border: #FDB82B;
    border-style: solid;
    border-bottom-width: thin;
    color: #FD9426; }
    .slider .col-md-12 #wrapper {
      color: black;
      width: 2200px;
      transform: translate3d(0, 0, 0);
      margin: auto;
      transition: transform .5s ease-in-out; }

#annoying-heading {
  margin-left: 20px; }

.content {
  float: left;
  width: 12.5%;
  height: 175px;
  white-space: normal;
  background-repeat: no-repeat;
  border-right: 2.5px #FDB82B solid;
  padding: 0.625em; }

.section {
  font-family: "gothic";
  background-color: #FDE4A4;
  color: #FD9426; }
  .section p {
    color: black; }

#contentContainer {
  width: 1100px;
  height: 175px;
  border: 2.5px #FDB82B solid;
  overflow: hidden;
  margin: auto; }

.section_left {
  border-right-width: 0px; }

.row {
  margin-top: 10px; }

@media only screen and (max-width: 1100px) {
  #contentContainer {
    width: 825px;
    height: 175px;
    border: 2.5px #FDB82B solid;
    overflow: hidden; }

  #annoying-heading {
    margin-left: 55px; }

  .dummy {
    height: 320px !important;
    margin: 10px; } }
.jumbotron_p {
  color: black;
  font-size: 1.8em !important; }

@media only screen and (max-width: 990px) {
  #contentContainer {
    width: 550px;
    height: 175px;
    border: 2.5px #FDB82B solid;
    overflow: hidden; }

  #annoying-heading {
    margin-left: 80px; }

  .dummy_video {
    height: 480px !important; } }
@media only screen and (max-width: 588px) {
  .slider {
    display: none; } }
.dummy {
  width: 100%;
  background-color: white;
  border: #FDB82B;
  border-style: solid;
  border-width: 2px;
  height: 380px;
  padding: 5px;
  font-size: larger; }

.video {
  width: 100%;
  height: 100%; }

.jumbotron {
  height: 100%;
  background-color: white !important; }

#navLinks {
  text-align: center;
  width: 550px;
  margin: auto; }

#navLinks ul {
  margin: 0px;
  padding: 0px;
  display: inline-block;
  margin-top: 6px; }

#navLinks ul li {
  float: left;
  text-align: center;
  margin: 10px;
  list-style: none;
  cursor: pointer;
  background-color: white;
  padding: 5px;
  border-radius: 50%;
  border: #FDB82B 2px solid; }

#navLinks ul li:hover {
  background-color: #FDE4A4; }

#navLinks ul li.active {
  background-color: #FDE4A4;
  color: #FFFFFF;
  outline-width: 2px; }

#navLinks ul li.active:hover {
  background-color: #FDE4A4;
  color: #FDE4A4; }

.block, .block-primary, .block-secondary, .block-light, .block-dark {
  padding: 15px;
  margin-bottom: 15px; }

.block-image img {
  width: 100%; }

.block-border {
  border: 2px solid #FDB82B; }

.block-center {
  text-align: center !important; }

/* Navbar */
.navbar {
  width: 100%;
  margin: auto;
  background-color: #FDB82B; }
  .navbar a {
    color: black !important;
    font-size: 1em;
    letter-spacing: -0.1px; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: #FDE4A4; }

.navbar-default .navbar-nav > li > a:hover {
  background-color: #FDE4A4; }

footer {
  background-color: #FDB82B;
  margin: auto;
  width: 100%; }

@media only screen and (max-width: 990px) {
  footer.footer-main {
    display: none; }

  .jumbotron_main {
    display: none; } }
