/*font colors and sizes*/
$base-font-size: 15px;
$base-font-family: "Segoe UI","Segoe WF", "Segoe Regular", sans-serif;
$base-font-color:#D8F6F7 !important;
$heading-color: #FD9426;
$heading-fonts: "Gothic";

/* background colors */
$darker-base-color: #FDB82B;
$lighter-base-color:#FDE4A4;
$lighter-blue-color:#D8F6F7;


 