body{
	font-family:$base-font-family;
	
	font-size: $base-font-size;
	line-height: 1.7em;
	color: black;
	background-color: $lighter-base-color;
}

a{
	color:black;
}

ul, li{
	list-style: none;
	//removing bullets
}

input, textarea, button{
	@include border-radius(0px);
}





#logo{
	margin-top: 0px;
	top: 0px;
	left: 0px;
	width: 55%;

	
}