body{
	font-family:$heading-fonts;
	
	font-size: $base-font-size;
	line-height: 1.7em;
	color: black;
	background-color: $lighter-base-color;
}

h1,h2,h3,h4{
	font-family:$heading-fonts;
}



a{
	color:black;
}

ul, li{
	list-style: none;
	//removing bullets
}


#logo{
	margin-top: 0px;
	top: 0px;
	left: 0px;
	width: 55%;

	
}