/* carousel */

.carousel-control.left,
.carousel-control.right {
	background-image: none;
	margin-top: 120px !important;
}

.carousel-inner > .item > img {
	margin: 0 auto;
	margin-top: 10 0px !important;
}


/* page 1 slider */


.slider {
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	.h2 {
		color: $darker-base-color !important;
		
	}
	
	.col-md-12 {
		font-family: "gothic";
		background-color: white;
		border: $darker-base-color;
		border-style: solid;
		border-bottom-width: thin;
		color: $heading-color;
		
		#wrapper {
			color: black;
			width: 2200px;
			transform: translate3d(0, 0, 0);
			margin: auto;
			transition: transform .5s ease-in-out;
		}
	}
}

#annoying-heading{
		margin-left: 20px;
	}




.content {
	float: left;
	width: 12.5%;
	height: 175px;
	white-space: normal;
	background-repeat: no-repeat;
	border-right: 2.5px #FDB82B solid;
	padding: 0.625em;
}

//#itemOne {
//	border-right: 2.5px #FDB82B solid;
//	padding: 0.625em;
//}
//
//#itemTwo {
//	border-right: 2.5px #FDB82B solid;
//	padding: 0.625em;
//}
//
//#itemThree {
//	border-right: 2.5px #FDB82B solid;
//	padding: 0.625em;
//}
//
//#itemFour{
//	border-left: 2.5px #FDB82B solid;
//	padding: 0.625em;
//}
//
//#itemFive
//	{
//	border-left: 2.5px #FDB82B solid;
//	padding: 0.625em;
//}
//
//#itemSix
//	{
//	border-left: 2.5px #FDB82B solid;
//	padding: 0.625em;
//}
//
//#itemSeven
//	{
//	border-left: 2.5px #FDB82B solid;
//	padding: 0.625em;
//}
//
//#itemEight
//	{
//	border-left: 2.5px #FDB82B solid;
//	padding: 0.625em;
//}
//
//#itemNine
//	{
//	border-left: 2.5px #FDB82B solid;
//	padding: 0.625em;
//}
//
//




#contentContainer {
	width: 1100px;
	height: 175px;
	border: 2.5px #FDB82B solid;
	overflow: hidden;
	margin: auto;
}

@media only screen and (max-width: 1100px) {
	#contentContainer {
	width: 825px;
	height: 175px;
	border: 2.5px #FDB82B solid;
	overflow: hidden;
}
	#annoying-heading{
		margin-left: 55px;
	}
}

@media only screen and (max-width: 990px) {
	#contentContainer {
	width: 550px;
	height: 175px;
	border: 2.5px #FDB82B solid;
	overflow: hidden;
}
	#annoying-heading{
		margin-left: 80px;
	}
}

@media only screen and (max-width: 588px) {
	.slider{
		display: none;
}
}

#navLinks {
	text-align: center;
	width: 550px;
	margin: auto;
}

#navLinks ul {
	margin: 0px;
	padding: 0px;
	display: inline-block;
	margin-top: 6px;
}

#navLinks ul li {
	float: left;
	text-align: center;
	margin: 10px;
	list-style: none;
	cursor: pointer;
	background-color: white;
	padding: 5px;
	border-radius: 50%;
	border: $darker-base-color 2px solid;
}

#navLinks ul li:hover {
	background-color: $lighter-base-color;
}

#navLinks ul li.active {
	background-color: $lighter-base-color;
	color: #FFFFFF;
	outline-width: 2px;
}

#navLinks ul li.active:hover {
	background-color: $lighter-base-color;
	color: $lighter-base-color;
}